/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
} */
/* h2{
  text-align: center;
  font-size: 40px;
  background-color: cadetblue;
  color: whitesmoke;
  text-transform: capitalize;
}

p{
  text-align: center;
  font-size: 40px;
  background-color: rgb(21, 75, 77);
  color: whitesmoke;
  text-transform: capitalize;
}

figure > img{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  
} */
body{
  background-color: rgb(141, 172, 230);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
/* div{
  display: flex;
  justify-content: center;
  align-items: center;
} */
button{
  
  background-color: rgb(11, 58, 146);
  color: whitesmoke;
  padding: 10px;
  font-size: 15px;
  font-weight: 20px;
  cursor: pointer;
 
}
